* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

/* TODO: Better Centering */
#root {
  height: 100vh;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
